#mbp-lobby {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 800px;
	height: 600px;
	font-family: MarkerFelt;
	color: white;
	text-shadow: 1px 1px 0px black;
}

#mbp-lobby-leave {
	position: absolute;
	display: block;
	top: 516px;
	left: 46px;
}

#mbp-lobby-image-container {
	position: absolute;
	display: block;
	top: 38px;
	left: 481px;
	width: 248px;
	height: 186px;	
}

#mbp-lobby-image {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	width: 248px;
	height: 186px;
	object-fit: cover;
}

#mbp-lobby-image-frame {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
}

#mbp-lobby-image-container:hover #mbp-lobby-image {
	filter: brightness(0.666);
}

#mbp-lobby-image-container p {
	position: absolute;
	top: 73px;
	left: 0;
	width: 100%;
	text-align: center;
	margin: 0;
	font-size: 30px;
	text-shadow: 1px 1px 5px black;
	display: none;
}

#mbp-lobby-image-container:hover p {
	display: initial;
}

#mbp-lobby-level-title {
	position: absolute;
	top: 228px;
	left: 454px;
	text-align: center;
	font-size: 22px;
	width: 300px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#mbp-lobby-player-list-heading {
	position: absolute;
	top: 282px;
	left: 475px;
	font-size: 22px;
	opacity: 0.9;
}

#mbp-lobby-player-list-heading > span:first-child {
	width: 150px;
	display: inline-block;
}

#mbp-lobby-player-list {
	position: absolute;
	top: 313px;
	left: 470px;
	font-size: 16px;
	width: 282px;
	height: 198px;
	overflow: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.6) transparent;
}

#mbp-lobby-player-list::-webkit-scrollbar {
	width: 5px;
}

#mbp-lobby-player-list::-webkit-scrollbar-track {
	background: #f1f1f100;
}

#mbp-lobby-player-list::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.603);
}

#mbp-lobby-player-list > div {
	padding: 5px 0px;
	position: relative;
	border-radius: 5px;
	padding-left: 5px;
	height: 31px;
	box-sizing: border-box;
}

#mbp-lobby-player-list._is-lobby-owner > div:hover {
	background: #000a741c;
}

#mbp-lobby-player-list > div > span:nth-of-type(1) {
	max-width: 105px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: top;
	padding-right: 2px;
}

#mbp-lobby-player-list > div > ._lobby-owner-icon {
	vertical-align: top;
	width: 24px;
	filter: invert(1) invert(79%) sepia(61%) saturate(493%) hue-rotate(357deg) brightness(101%) contrast(103%) drop-shadow(1px 1px 0px black);
	margin-left: 10px;
}

#mbp-lobby-player-list > div > span:nth-of-type(2) {
	vertical-align: top;
	position: absolute;
	left: 155px;
}

#mbp-lobby-play {
	position: absolute;
	display: block;
	top: 516px;
	left: 565px;
}

#mbp-lobby-chat-input {
	position: absolute;
	top: 475px;
	left: 48px;
	border: none;
	width: 392px;
	background: #000a741c;
	color: inherit;
	padding: 6px;
	padding-left: 8px;
	box-sizing: border-box;
	font-family: Nunito;
	border-radius: 5px;
	font-size: 14px;
	text-shadow: 1px 1px 0px black;
}

#mbp-lobby-chat-input:focus {
	outline: none;
	background: #000a743a;
}

#mbp-lobby-chat-input::placeholder {
	color: white;
	opacity: 0.7;
	text-shadow: none;
}

#mbp-lobby-chat-container {
	position: absolute;
	top: 284px;
	left: 49px;
	width: 391px;
	height: 183px;
	overflow: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.6) transparent;
}

#mbp-lobby-chat-container::-webkit-scrollbar {
	width: 5px;
}

#mbp-lobby-chat-container::-webkit-scrollbar-track {
	background: #f1f1f100;
}

#mbp-lobby-chat-container::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.603);
}

#mbp-lobby-chat-container * {
	user-select: text;
	-webkit-user-select: text; /* iOS Safari */
	-khtml-user-select: text; /* Konqueror HTML */
	-moz-user-select: text; /* Old versions of Firefox */
	-ms-user-select: text; /* Internet Explorer/Edge */
}

#mbp-lobby-chat-container > div {
	font-size: 14px;
	font-family: Nunito;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

#mbp-lobby-server-selector-collapsed {
	position: absolute;
	display: block;
	top: 39px;
	left: 168px;
}

#mbp-lobby-current-server {
	position: absolute;
	font-family: MarkerFelt;
	margin: 0;
	font-size: 20px;
	padding-left: 5px;
	top: 47px;
	left: 183px;
	width: 150px;
	pointer-events: none;
}

#mbp-lobby-server-selector-window ._click-preventer {
	position: absolute;
	top: -5000px;
	left: -5000px;
	width: 10000px;
	height: 10000px;
}

#mbp-lobby-server-selector-window {
	position: absolute;
	top: 57px;
	left: 132px;
	height: 211px;
	width: 251px;
	border-style: solid;
	border-image-source: url(/assets/ui_mbp/mp/menu/grey/joined.png);
	border-image-slice: 45 48 62 48 fill;
	border-image-width: 45px 48px 62px 48px;
	border-image-repeat: stretch;
	z-index: 1;
}

#mbp-lobby-server-selector-window-tabt {
	position: absolute;
	top: -2px;
	left: 50%;
	transform: translateX(-50%);
}

#mbp-lobby-server-selector-window ._content {
	position: absolute;
	top: 32px;
	left: 35px;
	overflow: auto;
	overflow-x: hidden;
	height: 130px;
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.6) transparent;
}

#mbp-lobby-server-selector-window ._content::-webkit-scrollbar {
	width: 5px;
}

#mbp-lobby-server-selector-window ._content::-webkit-scrollbar-track {
	background: #f1f1f100;
}

#mbp-lobby-server-selector-window ._content::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.603);
}

#mbp-lobby-server-selector-window ._content > div {
	position: relative;
}

#mbp-lobby-server-selector-window ._content > div img {
	display: block;
}

#mbp-lobby-server-selector-window ._content > div p {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	font-family: MarkerFelt;
	margin: 0;
	font-size: 20px;
	padding-left: 5px;
	color: black;
	text-shadow: none;
}

#mbp-lobby-server-selector-window > p {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 67px;
	color: black;
	text-shadow: none;
}

#mbp-lobby-local-connection-status {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	font-family: MarkerFelt;
}

#mbp-lobby-player-actions {
	position: absolute;
	transform: translateX(-50%) translateY(80px);
	z-index: 10;
}

#mbp-lobby-player-actions ._click-preventer {
	position: absolute;
	top: -5000px;
	left: -5000px;
	width: 10000px;
	height: 10000px;
}

#mbp-lobby-player-actions > img {
	display: block;
	z-index: 1;
	position: relative;
}

#mbp-lobby-player-actions ._actions {
	position: absolute;
	top: 27px;
	left: 33px;
	width: 150px;
	z-index: 1;
	display: flex;
	justify-content: center;
}

#mbp-lobby-player-actions ._actions > * {
	display: block;
	margin: 0px 5px;
}

#mbp-lobby-player-action-promote-icon {
	position: absolute;
	top: 10px;
	left: 9px;
	width: 24px;
	filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
	pointer-events: none;
}