#touch-input-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#movement-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

#camera-area {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
}

#movement-joystick {
	position: absolute;
	width: 300px;
	height: 300px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 50px;
	visibility: hidden;
}

#movement-joystick-handle {
	position: absolute;
	width: 100px;
	height: 100px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 100%;
}

.touch-button {
	width: 120px;
	background: rgba(255,255,255,1);
	padding: 20px;
	opacity: 0.5;
	border-radius: 100%;
	overflow: hidden;
	box-sizing: border-box;
	transform-origin: 100% 100%;
}

.touch-button img {
	display: block;
	width: 100%;
	height: 100%;
}

#action-buttons {
	position: absolute;
	bottom: 45px;
	right: 45px;
}

#jump-button {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#use-button {
	position: absolute;
	bottom: 0px;
	right: 135px;
	opacity: 0.2;
}

#blast-button {
	position: absolute;
	bottom: 135px;
	right: 0px;
}

#pause-button {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 70px;
	padding: 10px;
}

#restart-button {
	position: absolute;
	top: 15px;
	left: 100px;
	width: 70px;
	padding: 12px;
}

#free-look-button {
	position: absolute;
	top: 15px;
	left: 185px;
	width: 70px;
	padding: 12px;
}