#finish-screen {
	display: block;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 476px;
	height: 449px;
}

#finish-screen > img:first-child {
	width: 476px;
	height: 449px;
	position: absolute;
	top: 0;
	left: 0;
	image-rendering: pixelated;
}

#finish-screen-time {
	font-size: 34px;
	width: 388px;
	font-family: Expo;
	text-shadow: 1px 1px 0px black, 1px 1px 0px black;
	position: relative;
	margin-left: 43px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

#finish-screen-time > p {
	margin: 0;
}

#finish-screen-time > p:first-child {
	color: #fff700;
}

#finish-screen-time > p:last-child {
	color: #fff39b;
}

#finish-message {
	position: relative;
	margin: 0;
	font-family: Expo;
	font-size: 22px;
	text-shadow: 1px 1px 0px black, 1px 1px 0px black;
	color: lime;
	margin-left: 38px;
}

.finish-row {
	position: relative;
	margin-left: 108px;
	margin-top: 8px;
	font-family: DomCasualRegular;
	font-size: 25px;
	width: 265px;
	text-shadow: 1px 1px 0px #ffffff7a;
	clear: both;
}

.finish-row > p {
	margin: 0;
}

.finish-row > p:first-child {
	float: left;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

.finish-row > p:last-child {
	float: right;
}

#finish-replay {
	display: block;
	position: absolute;
	top: 378px;
	left: 52px;
	height: 46px;
	width: 102px;
	image-rendering: pixelated;
}

#finish-continue {
	display: block;
	position: absolute;
	top: 376px;
	left: 318px;
	height: 48px;
	width: 120px;
	image-rendering: pixelated;
}

#finish-view-replay {
	position: absolute;
	opacity: 0.333;
	bottom: 36px;
	left: 232px;
}

#finish-view-replay:hover {
	opacity: 0.666;
}

#name-entry-screen {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 500px;
	height: 500px;
}

#name-entry-screen > img:first-child {
	position: absolute;
	display: block;
	top: 117px;
	left: 52px;
	height: 250px;
	width: 400px;
}

#name-entry-screen > p:nth-child(2) {
	position: absolute;
	display: block;
	top: 145px;
	left: 114px;
	margin: 0;
	font-family: Expo;
	font-size: 32px;
}

#name-entry-screen > p:nth-child(3) {
	position: absolute;
	display: block;
	top: 191px;
	left: 60px;
	margin: 0;
	font-family: DomCasualRegular;
	font-size: 24px;
	text-align: center;
	width: 400px;
}

#name-entry-input-background {
	position: absolute;
	display: block;
	top: 235px;
	left: 100px;
}

#name-entry-input {
	position: absolute;
	display: block;
	top: 246px;
	left: 131px;
	border: none;
	font-size: 26px;
	font-family: DomCasualRegular;
	background: none;
}

#name-entry-input:focus {
	outline: none;
}

#name-entry-confirm {
	position: absolute;
	display: block;
	top: 291px;
	left: 209px;
}