#game-ui {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

#powerup-border {
	position: absolute;
	top: 5px;
	right: 5px;
}

#help-text {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 45%;
	color: white;
	font-size: 24px;
	text-shadow: 1px 1px 0px black, 1px 1px 0px black;
	white-space: pre;
}

#alert-text {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 30px;
	color: #ffe240;
	font-size: 24px;
	text-shadow: 1px 1px 0px black, 1px 1px 0px black;
	white-space: pre;
}

#clock {
	font-size: 0;
	display: inline-block;
}

#gem-count {
	font-size: 0;
	position: absolute;
	top: 0;
	left: 30px;
}

#gem-count > img {
	margin-right: -19px;
}

#gem-count > img:last-child {
	margin-right: 0px;
}

#center-text {
	display: block;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 30%;
}

#pause-screen {
	display: block;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 380px;
	height: 183px;
}

#pause-screen > img:first-child {
	width: 380px;
	height: 183px;
}

#pause-screen > p {
	position: absolute;
	font-family: DomCasualRegular;
	font-size: 24px;
	top: 17px;
	left: 106px;
}

#pause-yes {
	display: block;
	position: absolute;
	top: 104px;
	left: 46px;
}

#pause-no {
	display: block;
	position: absolute;
	top: 102px;
	left: 146px;
}

#pause-restart {
	display: block;
	position: absolute;
	top: 101px;
	left: 243px;
}

#pause-replay {
	position: absolute;
    top: 22px;
    left: 184px;
	opacity: 0.333;
}

#pause-replay:hover {
	opacity: 0.666;
}

#finish-screen {
	display: block;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 476px;
	height: 449px;
}

#finish-screen > img:first-child {
	width: 476px;
	height: 449px;
	position: absolute;
	top: 0;
	left: 0;
	image-rendering: pixelated;
}

#finish-screen-time {
	font-size: 34px;
	width: 388px;
	font-family: Expo;
	text-shadow: 1px 1px 0px black, 1px 1px 0px black;
	position: relative;
	margin-left: 43px;
	margin-top: 17px;
}

#finish-screen-time > p {
	margin: 0;
}

#finish-screen-time > p:first-child {
	float: left;
	color: #fff700;
}

#finish-screen-time > p:last-child {
	float: right;
	color: #fff39b;
}

#finish-message {
	position: relative;
	margin: 0;
	font-family: Expo;
	font-size: 22px;
	text-shadow: 1px 1px 0px black, 1px 1px 0px black;
	color: lime;
	margin-left: 38px;
}

.finish-row {
	position: relative;
	margin-left: 108px;
	margin-top: 8px;
	font-family: DomCasualRegular;
	font-size: 25px;
	width: 265px;
	text-shadow: 1px 1px 0px #ffffff7a;
	clear: both;
}

.finish-row > p {
	margin: 0;
}

.finish-row > p:first-child {
	float: left;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

.finish-row > p:last-child {
	float: right;
}

#finish-replay {
	display: block;
	position: absolute;
	top: 378px;
	left: 52px;
	height: 46px;
	width: 102px;
	image-rendering: pixelated;
}

#finish-continue {
	display: block;
	position: absolute;
	top: 376px;
	left: 318px;
	height: 48px;
	width: 120px;
	image-rendering: pixelated;
}

#finish-view-replay {
	position: absolute;
	opacity: 0.333;
	bottom: 36px;
	left: 232px;
}

#finish-view-replay:hover {
	opacity: 0.666;
}

#name-entry-screen {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 500px;
	height: 500px;
}

#name-entry-screen > img:first-child {
	position: absolute;
	display: block;
	top: 117px;
	left: 52px;
	height: 250px;
	width: 400px;
}

#name-entry-screen > p:nth-child(2) {
	position: absolute;
	display: block;
	top: 145px;
	left: 114px;
	margin: 0;
	font-family: Expo;
	font-size: 32px;
}

#name-entry-screen > p:nth-child(3) {
	position: absolute;
	display: block;
	top: 191px;
	left: 60px;
	margin: 0;
	font-family: DomCasualRegular;
	font-size: 24px;
	text-align: center;
	width: 400px;
}

#name-entry-input-background {
	position: absolute;
	display: block;
	top: 235px;
	left: 100px;
}

#name-entry-input {
	position: absolute;
	display: block;
	top: 246px;
	left: 131px;
	border: none;
	font-size: 26px;
	font-family: DomCasualRegular;
	background: none;
}

#name-entry-input:focus {
	outline: none;
}

#name-entry-confirm {
	position: absolute;
	display: block;
	top: 291px;
	left: 209px;
}

#touch-input-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#movement-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

#camera-area {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
}

#movement-joystick {
	position: absolute;
	width: 300px;
	height: 300px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 50px;
	display: none;
}

#movement-joystick-handle {
	position: absolute;
	width: 100px;
	height: 100px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 100%;
}

.touch-button {
	width: 80px;
	border-radius: 100%;
	background: rgba(255,255,255,1);
	padding: 20px;
	opacity: 0.5;
}

#jump-button {
	position: absolute;
	bottom: 15px;
	right: 15px;
	width: 80px;
}

#use-button {
	position: absolute;
	bottom: 15px;
	right: 150px;
	width: 80px;
}

#pause-button {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 50px;
	padding: 10px;
}