#powerup-border {
	position: absolute;
	top: 5px;
	right: 5px;
}

#help-text {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 45%;
	color: white;
	font-size: 24px;
	text-shadow: 1px 1px 0px black, 1px 1px 0px black;
	white-space: pre-line;
	overflow-wrap: break-word;
}

#game-ui.platinum #help-text {
	text-shadow: 1px 1px 0px #777777;
}

#alert-text {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 30px;
	color: #ffe240;
	font-size: 24px;
	text-shadow: 1px 1px 0px black, 1px 1px 0px black;
	white-space: pre-line;
	overflow-wrap: break-word;
}

#game-ui.platinum #alert-text {
	color: rgb(228, 211, 129);
	text-shadow: 1px 1px 0px rgb(119, 102, 34);
}

#announcement-text {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 80px;
	color: white;
	font-size: 28px;
	text-shadow: 1px 1px 0px black, 1px 1px 0px black;
	white-space: pre-line;
	overflow-wrap: break-word;
}

/* makes it look super unimportant idk
#game-ui.platinum #announcement-text {
	text-shadow: 1px 1px 0px #777777;
}
*/

#clock {
	font-size: 0;
	display: inline-block;
	position: relative;
}

#clock-background {
	position: absolute;
    margin: auto;
    left: 0px;
    right: 0;
    top: -10px;
    width: 220px;
    height: 79px;
    transform: translateX(3px);
}

#gem-count {
	font-size: 0;
	position: absolute;
	top: 0;
	left: 30px;
}

#gem-count > img {
	margin-right: -19px;
}

#gem-count > img:last-child {
	margin-right: 0px;
}

#center-text {
	display: block;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 30%;
}

#fps-meter {
	position: absolute;
	bottom: 0;
	right: 0;
	transform-origin: 100% 100%;
}

#fps-meter-background {
	display: block;
}

#fps-meter-value {
	position: absolute;
	bottom: 3px;
	right: -14px;
	font-family: 'DomCasualRegular';
	font-size: 20px;
	width: 100px;
	text-align: left;
}

#blast-meter {
	position: absolute;
	bottom: 34px;
	left: 7px;
}

#blast-meter-body {
	display: block;
	position: absolute;
}

#blast-meter-fill {
	display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 0px;
    height: 17px;
}

#network-stats {
	position: absolute;
	width: 300px;
	pointer-events: none;
	text-align: right;
	font-family: monospace;
	font-size: 10px;
	color: white;
	text-shadow: 0px 0px 2px #000000;
	right: 10px;
	bottom: 50px;
	white-space: pre-line;
}

#scoreboard {
	position: absolute;
	top: 110px;
	right: 15px;
	font-family: MarkerFelt;
	color: white;
	text-shadow: 1px 1px 0px black;
	font-size: 16px;
	text-align: left;
	width: 200px;
	background: #00000038;
	padding: 7px;
	border-radius: 10px;
}

#scoreboard > div {
	clear: both;
	position: relative;
}

#scoreboard > div > span:nth-child(1) {
	display: inline-block;
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
}

#scoreboard > div > span:nth-child(2) {
	float: right;
	color: powderblue;
}

#scoreboard > div img {
	position: absolute;
	top: -2px;
	left: -36px;
	width: 24px;
	filter: invert(31%) sepia(26%) saturate(2754%) hue-rotate(325deg) brightness(119%) contrast(102%) drop-shadow(1px 1px 0px black);
	animation: pop-up 0.5s forwards;
}

@keyframes pop-up {
	0% { transform: scale(0); }
	20% { transform: scale(2); }
	100% { transform: scale(1); }
}

#hud-chat {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	height: 400px;
	width: 350px;
	display: flex;
	color: white;
	text-shadow: 1px 1px 0px black;
	flex-direction: column;
	text-align: left;
	pointer-events: none;
}

#hud-chat > div {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column-reverse;
	overflow: hidden;
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.6) transparent;
	margin-bottom: 10px;
}

#hud-chat > div::-webkit-scrollbar {
	width: 5px;
}

#hud-chat > div::-webkit-scrollbar-track {
	background: #f1f1f100;
}

#hud-chat > div::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.603);
}

#hud-chat > div > div {
	font-size: 14px;
	font-family: Nunito;
	white-space: pre-wrap;
	background: #0000003f;
	padding: 1px;
	padding-left: 5px;
	overflow-wrap: break-word;
	animation: chat-message-fade-out 10s forwards;
}

#hud-chat > div.highlighted > div {
	animation: none;
}

#hud-chat input {
	flex: 0 0 auto;
	border: none;
	width: 100%;
	color: inherit;
	padding: 6px;
	padding-left: 8px;
	box-sizing: border-box;
	font-family: Nunito;
	border-radius: 5px;
	font-size: 14px;
	visibility: hidden;
	pointer-events: none;
	background: #0000006b;
}

#hud-chat input:focus {
	outline: none;
}

@keyframes chat-message-fade-out {
	0% { opacity: 1; }
	80% { opacity: 1; }
	100% { opacity: 0; }
}