#level-select {
	display: block;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 610px;
	height: 351px;
	z-index: 0;
}

#tab-beginner {
	display: block;
	position: absolute;
	top: -40px;
	left: 29px;
}

#tab-intermediate {
	display: block;
	position: absolute;
	top: -38px;
	left: 212px;
}

#tab-advanced {
	display: block;
	position: absolute;
	top: -21px;
	left: 407px;
}

#tab-custom {
	display: block;
	position: absolute;
	top: 43px;
	left: 589px;
}

#level-select-text-window {
	display: block;
	position: absolute;
	top: 30px;
	left: 33px;
	z-index: 0;
}

#level-select-text-window-scrollable {
	position: absolute;
	height: 205px;
	overflow-y: auto;
	overflow-x: hidden;
	top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
	width: 253px;
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.6) transparent;
}

#level-select-text-window-scrollable::-webkit-scrollbar {
	width: 5px;
}

#level-select-text-window-scrollable::-webkit-scrollbar-track {
	background: #f1f1f100;
}

#level-select-text-window-scrollable::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.603);
}

#level-select-home-button {
	display: block;
	position: absolute;
	top: 257px;
	left: 103px;
}

#level-select-level-window {
	display: block;
	position: absolute;
	top: 47px;
	left: 303px;
	width: 258px;
	height: 193px;
	z-index: 0;
}

#level-select-level-window > img:first-child {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

#level-image {
	width: 100%;
	height: 100%;
	object-fit: fill;
	z-index: -2;
	position: absolute;
	top: 0;
}

#level-number {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 14px;
	font-family: DomCasualRegular;
	color: white;
	text-shadow: 1px 1px 0px black, 1px 1px 0px black;
	font-size: 19px;
}

#level-select-prev {
	display: block;
	position: absolute;
	top: 257px;
	left: 314px;
}

#level-select-play {
	display: block;
	position: absolute;
	top: 255px;
	left: 385px;
}

#level-select-next {
	display: block;
	position: absolute;
	top: 260px;
	left: 501px;
}

#level-title {
	font-family: DomCasualRegular;
	margin: 0;
	margin-top: 4px;
	margin-left: 30px;
	font-size: 20px;
	white-space: pre-line;
	overflow-wrap: break-word;
}

#level-artist {
	font-family: Arial, sans-serif;
	margin: 0;
	margin-left: 31px;
	font-size: 9px;
	white-space: pre-line;
	overflow-wrap: break-word;
}

#level-description {
	font-family: Arial, sans-serif;
	margin: 0;
	margin-top: 16px;
	margin-left: 38px;
	width: 207px;
	font-size: 11px;
	white-space: pre-line;
	overflow-wrap: break-word;
}

#level-qualify-time {
	font-family: DomCasualRegular;
	margin: 0;
	margin-left: 30px;
	font-size: 20px;
	white-space: pre-line;
	overflow-wrap: break-word;
}

#best-times-heading {
	font-family: DomCasualRegular;
	margin: 0;
	margin-top: 14px;
	margin-left: 30px;
	font-size: 20px;
	margin-bottom: 14px;
}

#online-leaderboard-heading {
	font-family: DomCasualRegular;
	margin: 0;
	margin-top: 11px;
	margin-left: 30px;
	font-size: 20px;
	margin-bottom: 14px;
}

#online-leaderboard-loading {
	margin: 0;
    font-family: Arial, sans-serif;
    font-size: 11px;
    margin-left: 38px;
}

.level-select-best-time {
	font-family: Arial, sans-serif;
	font-weight: bolder;
	font-size: 11px;
	width: 189px;
	height: 14px;
	margin-left: 42px;
	clear: both;
	position: relative;
}

.level-select-best-time > div:first-child {
	float: left;
	width: 97px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.level-select-best-time > div:nth-child(3) {
	float: right;
}

.level-select-best-time > img:nth-child(2) {
	vertical-align: top;
	margin-left: 8px;
	float: right;
}

.level-select-best-time > img:nth-child(4) {
	position: absolute;
	top: -3px;
	left: -23px;
	opacity: 0.333;
	display: none;
}

.level-select-best-time > img:nth-child(4):hover {
	opacity: 0.666;
}

#search-bar {
	position: absolute;
	top: -23px;
	left: 0;
	height: 22px;
	width: 252px;
	border-image: url(../assets/ui/common/window.png) stretch;
	border-width: 11px;
	border-style: solid;
	border-image-slice: 27 fill;
	box-sizing: border-box;
}

#search-input {
	position: absolute;
	top: -19px;
	left: 16px;
	font-size: 12px;
	background: transparent;
	border: none;
	font-family: Arial, sans-serif;
	width: 200px;
}

#search-input:focus {
	outline: none;
}

#sort-icon {
	position: absolute;
	top: -20px;
	left: 225px;
	width: 16px;
	opacity: 0.5;
}

#sort-icon:hover {
	opacity: 1;
}

#load-replay-button {
	position: absolute;
	bottom: 18px;
	left: 42px;
	opacity: 0.333;
}

#load-replay-button:hover {
	opacity: 0.666;
}

#shuffle-button {
	position: absolute;
    bottom: 18px;
    left: 66px;
    opacity: 0.333;
    width: 18px;
    height: 18px;
}

#shuffle-button:hover {
	opacity: 0.666;
}

#new-badge {
	display: block;
	position: absolute;
	font-family: DomCasualRegular;
	margin: 0px;
	background: rgb(247, 180, 98);
	padding: 2px;
	border-radius: 5px;
	top: 4px;
	font-size: 18px;
	right: -2px;
	transform: rotate(15deg);
	box-shadow: rgb(0 0 0 / 51%) 0px 0px 5px;
}