@font-face {
	font-family: "DomCasualRegular";
	src: url("../assets/font/DomCasualRegular/DomCasualRegular.otf");
}

@font-face {
	font-family: "Expo";
	src: url("../assets/font/Expo/EXPON.TTF");
}

@keyframes gameplay-text-popup {
	0% { opacity: 1; filter: brightness(1); }
	75% { opacity: 1; filter: brightness(1); }
	100% { opacity: 0; filter: brightness(0.25); }
}

* {
	user-select: none;
	-webkit-user-drag: none;
}

.hidden {
	display: none !important;
	pointer-events: none !important;
}

html, body {
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: url(../assets/ui/common/cur_3darrow.png) 0 0, auto;
}

#menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
	object-fit: fill;
}