@font-face {
	font-family: "DomCasualRegular";
	src: url("../assets/font/DomCasualRegular/DomCasualRegular.otf");
}

@font-face {
	font-family: "Expo";
	src: url("../assets/font/Expo/EXPON.TTF");
}

@keyframes pulse-opacity {
	0% { opacity: 1; }
	50% { opacity: 0.666; }
	100% { opacity: 1; }
}

* {
	user-select: none;
	-webkit-user-drag: none;
}

.hidden {
	display: none !important;
	pointer-events: none !important;
}

html, body {
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: black;
	cursor: url(../assets/ui/common/cur_3darrow.png) 0 0, auto;
}

#menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: fill;
}

#loading-message {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: DomCasualRegular;
	color: white;
	font-size: 24px;
	width: 200px;
	text-align: center;
	height: 35px;
	animation: pulse-opacity 1s infinite forwards;
}

#start-game-dialog {
	width: 400px;
	height: 60px;
	text-align: center;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: DomCasualRegular;
	color: white;
}

#version {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	font-family: Arial;
	padding: 2px;
	font-size: 10px;
}