#mbp-level-select {
	display: block;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 800px;
	height: 500px;
	z-index: 0;
}

#mbp-level-select-home-button {
	position: absolute;
	display: block;
	top: 325px;
	left: 119px;
}