#options {
	display: block;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 470px;
	height: 425px;
	z-index: 0;
}

#tab-graphics {
	position: absolute;
	display: block;
	top: 31px;
	left: 34px;
}

#tab-audio {
	position: absolute;
	display: block;
	top: 19px;
	left: 180px;
}

#tab-controls {
	position: absolute;
	display: block;
	top: 2px;
	left: 294px;
}

#options-home {
	display: block;
	position: absolute;
	top: 345px;
	left: 304px;
}

#options-graphics {
	position: absolute;
	top: 0;
	left: 0;
}

#graphics-text {
	display: block;
	position: absolute;
	top: 110px;
	left: 24px;
}

#graphics-640 {
	display: block;
	position: absolute;
	top: 95px;
	left: 170px;
}

#graphics-800 {
	display: block;
	position: absolute;
	top: 97px;
	left: 249px;
}

#graphics-1024 {
	display: block;
	position: absolute;
	top: 96px;
	left: 332px;
}

#graphics-opengl {
	display: block;
	position: absolute;
	top: 157px;
	left: 177px;
}

#graphics-direct3d {
	display: block;
	position: absolute;
	top: 158px;
	left: 282px;
}

#graphics-windowed {
	display: block;
	position: absolute;
	top: 216px;
	left: 185px;
}

#graphics-full {
	display: block;
	position: absolute;
	top: 217px;
	left: 300px;
}

#graphics-depth16 {
	display: block;
	position: absolute;
	top: 268px;
	left: 190px;
}

#graphics-depth32 {
	display: block;
	position: absolute;
	top: 273px;
	left: 280px;
}

#graphics-shadows {
	display: block;
	position: absolute;
	top: 332px;
	left: 155px;
}

#graphics-apply {
	display: block;
	position: absolute;
	top: 337px;
	left: 198px;
}

#graphics-marble-texture-heading {
	font-family: 'DomCasualRegular';
	position: absolute;
	top: 60px;
	left: 478px;
	font-size: 24px;
	white-space: nowrap;
}

#graphics-marble-texture-choose {
	position: absolute;
	top: 91px;
	left: 475px;
	filter: hue-rotate(-50deg);
}

#graphics-marble-texture-choose-text {
	position: absolute;
	top: 96px;
	left: 505px;
	font-size: 20px;
	font-family: 'DomCasualRegular';
	pointer-events: none;
}

#graphics-marble-texture-reset {
	position: absolute;
	top: 90px;
	left: 590px;
}

#graphics-marble-texture-reset-text {
	position: absolute;
	top: 96px;
	left: 624px;
	font-size: 20px;
	font-family: 'DomCasualRegular';
	pointer-events: none;
}

#graphics-reflective-marble-heading {
	position: absolute;
	left: 478px;
	top: 147px;
	margin: 0;
	white-space: nowrap;
	font-family: 'DomCasualRegular';
	font-size: 24px;
}

#graphics-reflective-marble {
	position: absolute;
	top: 131px;
	left: 644px;
}

#audio-music-track {
	display: block;
	position: absolute;
	top: 110px;
	left: 35px;
}

#audio-music-knob {
	display: block;
	position: absolute;
	top: 115px;
	left: 155px;
}

#audio-sound-track {
	display: block;
	position: absolute;
	top: 169px;
	left: 35px;
}

#audio-sound-knob {
	display: block;
	position: absolute;
	top: 173px;
	left: 157px;
}

#audio-text-window {
	display: block;
	position: absolute;
	top: 208px;
	left: 42px;
}

#audio-text {
	display: block;
	position: absolute;
	top: 250px;
	left: 67px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	line-height: 13px;
}

#controls-background {
	display: block;
	position: absolute;
	top: 51px;
	left: 19px;
	pointer-events: none;
}

#tab-marble {
	display: block;
	position: absolute;
	top: 92px;
	left: 28px;
	width: 120px;
	height: 40px;
}

#tab-camera {
	display: block;
	position: absolute;
	top: 75px;
	left: 158px;
	width: 120px;
	height: 40px;
}

#tab-mouse {
	display: block;
	position: absolute;
	top: 54px;
	left: 298px;
	width: 120px;
	height: 40px;
}

#controls-marble {
	position: absolute;
	top: 0;
	left: 0;
}

#controls-camera {
	position: absolute;
	top: 0;
	left: 0;
}

#controls-mouse {
	position: absolute;
	top: 0;
	left: 0;
}

#button-marble-left {
	display: block;
	position: absolute;
	top: 242px;
	left: 38px;
}

#button-marble-right {
	display: block;
	position: absolute;
	top: 218px;
	left: 249px;
}

#button-marble-up {
	display: block;
	position: absolute;
	top: 154px;
	left: 100px;
}

#button-marble-down {
	display: block;
	position: absolute;
	top: 285px;
	left: 154px;
}

#button-marble-use {
	display: block;
	position: absolute;
	top: 136px;
	left: 329px;
}

#button-marble-jump {
	display: block;
	position: absolute;
	top: 283px;
	left: 321px;
}

#button-marble-left-content {
	margin: 0;
	position: absolute;
	top: 259px;
	left: -8px;
	text-align: center;
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	pointer-events: none;
}

#button-marble-right-content {
	margin: 0;
	position: absolute;
	top: 235px;
	left: 206px;
	text-align: center;
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	pointer-events: none;
}

#button-marble-up-content {
	margin: 0;
	position: absolute;
	top: 173px;
	left: 58px;
	text-align: center;
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	pointer-events: none;
}

#button-marble-down-content {
	margin: 0;
	position: absolute;
	top: 304px;
	left: 112px;
	text-align: center;
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	pointer-events: none;
}

#button-marble-use-content {
	margin: 0;
	position: absolute;
	top: 154px;
	left: 289px;
	text-align: center;
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	pointer-events: none;
}

#button-marble-jump-content {
	margin: 0;
	position: absolute;
	top: 301px;
	left: 280px;
	text-align: center;
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	pointer-events: none;
}

#rebind-dialog {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 125%;
	z-index: 1;
}

#rebind-dialog > img {
	display: block;
	position: absolute;
	top: 131px;
	left: 87px;
	height: 160px;
	width: 300px;
}

#rebind-dialog > p {
	display: block;
	position: absolute;
	top: 167px;
	left: 87px;
	width: 300px;
	text-align: center;
	font-family: DomCasualRegular;
	font-size: 20px;
}

#rebind-confirm {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 125%;
	z-index: 1;
}

#rebind-confirm > img:first-child {
	display: block;
	position: absolute;
	top: 102px;
	left: 99px;
	height: 230px;
	width: 267px;
}

#rebind-confirm > p {
	display: block;
	position: absolute;
	top: 117px;
	left: 129px;
	width: 199px;
	text-align: center;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: bolder;
}

#rebind-confirm-yes {
	display: block;
	position: absolute;
	top: 253px;
	left: 142px;
}

#rebind-confirm-no {
	display: block;
	position: absolute;
	top: 253px;
	left: 250px;
}

#button-camera-left {
	display: block;
	position: absolute;
	top: 261px;
	left: 339px;
}

#button-camera-right {
	display: block;
	position: absolute;
	top: 149px;
	left: 331px;
}

#button-camera-up {
	display: block;
	position: absolute;
	top: 183px;
	left: 48px;
}

#button-camera-down {
	display: block;
	position: absolute;
	top: 264px;
	left: 61px;
}

#button-camera-left-content {
	margin: 0;
	position: absolute;
	top: 274px;
	left: 287px;
	text-align: center;
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	pointer-events: none;
}

#button-camera-right-content {
	margin: 0;
	position: absolute;
	top: 162px;
	left: 282px;
	text-align: center;
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	pointer-events: none;
}

#button-camera-up-content {
	margin: 0;
	position: absolute;
	top: 199px;
	left: 2px;
	text-align: center;
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	pointer-events: none;
}

#button-camera-down-content {
	margin: 0;
	position: absolute;
	top: 278px;
	left: 14px;
	text-align: center;
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	pointer-events: none;
}

#sensitivity-knob {
	display: block;
	position: absolute;
	top: 148px;
	left: 148px;
}

#invert-y {
	display: block;
	position: absolute;
	top: 249px;
	left: 95px;
}

#always-free-look {
	display: block;
	position: absolute;
	top: 270px;
	left: 365px;
}

#free-look-key {
	display: block;
	position: absolute;
	top: 223px;
	left: 221px;
}

#free-look-key-content {
	margin: 0;
	position: absolute;
	top: 240px;
	left: 173px;
	text-align: center;
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	pointer-events: none;
}

#button-restart-level-label {
	position: absolute;
	top: 424px;
	left: 62px;
	font-family: 'DomCasualRegular';
	font-size: 22px;
}

#button-restart-level {
	position: absolute;
	top: 418px;
	left: 165px;
}

#button-restart-level-content {
	margin: 0;
	position: absolute;
	top: 432px;
	left: 120px;
	text-align: center;
	width: 200px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	pointer-events: none;
}