#video-renderer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	color: white;
	font-family: MarkerFelt;
	display: flex;
	align-items: center;
	justify-content: center;
}

#video-renderer > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#video-renderer h1 {
	margin: 0;
	font-weight: normal;
	margin-bottom: 40px;
}

#video-renderer button {
	border-radius: 5px;
	font-family: 'Marker Felt';
	font-size: 16px;
	padding: 2px 15px;
	cursor: pointer;
}
#video-renderer button:hover {
	outline: 2px solid ghostwhite;
}

#video-renderer ._config {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#video-renderer ._config > div {
	display: flex;
}

#video-renderer ._config > div > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#video-renderer ._config-row {
	width: 275px;
	margin-top: 10px;
	position: relative;
}

#video-renderer p {
	margin: 0;
	float: left;
	line-height: 29px;
}

#video-renderer input {
	float: right;
	border-radius: 5px;
	font-family: 'Marker Felt';
	font-size: 16px;
	padding: 2px 5px;
	width: 100px;
}
#video-renderer input[type="checkbox"] {
	height: 24px;
	width: 24px;
}
#video-renderer input[type="range"] {
	padding: 0;
	margin-top: 7px;
}

#video-renderer ._config-row span {
	top: 0;
	right: -20px;
	position: absolute;
	transform: translateX(100%);
	margin-top: 4px;
}

#video-renderer-render {
	margin-top: 20px;
	margin-bottom: 10px;
}

#video-renderer-destination {
	font-size: 12px;
	margin-bottom: 20px;
	font-family: sans-serif;
}

#video-renderer-details {
	font-size: 12px;
	font-family: sans-serif;
}

#video-renderer-select-destination {
	margin-bottom: 20px;
}

#video-renderer-overview#video-renderer-overview {
	white-space: pre;
	font-family: sans-serif;
	font-size: 12px;
	line-height: initial;
	text-align: center;
	margin-top: 40px;
}

#video-renderer-compilation-loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;
	z-index: 10;
}